---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 235ad420-b4cf-4114-be27-0312042b6ee3
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 594,
            "application_county" : {
              "value" : "Alameda",
              "id" : 1
            },
            "residence" : {
              "addresses" : [ {
                "street_address" : "4220 Ardwell Way",
                "zip" : "95823",
                "city" : "Sacramento",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : true,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              } ]
            },
            "applicants" : [ {
              "id" : 317,
              "first_name" : "jlk",
              "middle_name" : "",
              "last_name" : "jl",
              "other_names" : [ ],
              "date_of_birth" : "1111-11-11",
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "1111111111",
                "preferred" : false
              } ],
              "rfa1b_form" : {
                "id" : 54
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 588,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 315,
              "first_name" : "ss",
              "middle_name" : "",
              "last_name" : "ln",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 316,
              "first_name" : "fn",
              "middle_name" : "",
              "last_name" : "ln",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 53
              }
            } ],
            "rfa1c_forms" : [ {
              "id" : 51,
              "child_identified" : false
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 585,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 314,
              "first_name" : "a",
              "middle_name" : "b",
              "last_name" : "c",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
   [...]
