---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 9dd4c411-7aff-4c00-afeb-4c3ea8bdd466
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 9dd4c411-7aff-4c00-afeb-4c3ea8bdd466
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Fost[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Los
        Angeles"}}]}}]}},"from":"0","size":"10"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 9dd4c411-7aff-4c00-afeb-4c3ea8bdd466
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":27,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":3294,"max_score":1.5748664,"hits":[{"_index":"facilities","_type":"facility","_id":"9B5pK65194","_score":1.5748664,"_source":{"href":null,"id":"9B5pK65194","capacity_last_changed":null,"type":{"id":"432","value":"Foster
        Family Agency Certified Home"},"name":"","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"Los
        Angeles","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"19316
        Reinhart","city":"Carson","state":"CA","zip_code":"90746","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"}},{"_index":"facilities","_type":"facility","_id":"9DbRqUs077","_score":1.5748664,"_source":{"href":null,"id":"9DbRqUs077","capacity_last_changed":null,"type":{"id":"711","value":"Foster
        Family Home"},"name":"FFH 20","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":{"id":"0002","value":"Pending"},"capacity":4,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_def[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Los
        Angeles"}}]}}]}},"from":"10","size":"10"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 9dd4c411-7aff-4c00-afeb-4c3ea8bdd466
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":9,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":3294,"max_score":1.5748664,"hits":[{"_index":"facilities","_type":"facility","_id":"OkKjOan197","_score":1.5748664,"_source":{"href":null,"id":"OkKjOan197","capacity_last_changed":null,"type":{"id":"432","value":"Foster
        Family Agency Certified Home"},"name":"David/margaret Ffa","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"Los
        Angeles","lis_code":null},"phones":[{"id":null,"relation":"primary","type":null,"number":"9095965921"}],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"1350
        Third","city":"La Verne","state":"CA","zip_code":"91750","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"}},{"_index":"facilities","_type":"facility","_id":"4MOo44f30A","_score":1.5748664,"_source":{"href":null,"id":"4MOo44f30A","capacity_last_changed":null,"t[...]
[...]
