---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
            "id" : 1
          }, {
            "value" : "Alpine",
            "id" : 2
          }, {
            "value" : "Amador",
            "id" : 3
          }, {
            "value" : "Butte",
            "id" : 4
          }, {
            "value" : "Calaveras",
            "id" : 5
          }, {
            "value" : "Colusa",
            "id" : 6
          }, {
            "value" : "Contra Costa",
            "id" : 7
          }, {
            "value" : "Del Norte",
            "id" : 8
          [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/facility-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Home[...]
- request:
    method: post
    uri: https://dora.preint.cwds.io/dora/facilities/facility/_search
    body:
      encoding: UTF-8
      string: '{"query":{"bool":{"should":[{"bool":{"must":[{"match_phrase":{"county.value":"Los
        Angeles"}}]}}]}},"from":"0","size":"5"}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"took":3,"timed_out":false,"_shards":{"total":5,"successful":5,"failed":0},"hits":{"total":3480,"max_score":1.6052194,"hits":[{"_index":"facilities","_type":"facility","_id":"9B5pK65194","_score":1.6052194,"_source":{"href":null,"id":"9B5pK65194","capacity_last_changed":null,"type":{"id":"432","value":"Foster
        Family Agency Certified Home"},"name":"","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":null,"capacity":0,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_deferred_visit_date":null,"email_address":null,"last_visit_reason":null,"last_deferred_visit_reason":null,"county":{"id":"19","value":"Los
        Angeles","lis_code":null},"phones":[],"addresses":[{"id":null,"type":"Residential","address":{"id":null,"longitude":null,"lattitude":null,"deliverable":null,"street_address":"19316
        Reinhart","city":"Carson","state":"CA","zip_code":"90746","zip_suffix_code":null}}],"visits":null,"annual_visit_year":null,"prelicensing_visit_date":null,"facility_source":"CWS/CMS"}},{"_index":"facilities","_type":"facility","_id":"9DbRqUs077","_score":1.6052194,"_source":{"href":null,"id":"9DbRqUs077","capacity_last_changed":null,"type":{"id":"711","value":"Foster
        Family Home"},"name":"FFH 20","licensee_name":"","license_type":null,"assigned_worker":null,"district_office":null,"license_number":null,"status":{"id":"0002","value":"Pending"},"capacity":4,"license_effective_date":null,"original_application_recieved_date":null,"last_visit_date":null,"last_def[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/EEwv7B3197
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "facilities/EEwv7B3197",
          "id" : "EEwv7B3197",
          "type" : {
            "id" : "432",
            "value" : "Foster Family Agency Certified Home"
          },
          "name" : "Ricardo, Cecilio & Tessie",
          "licensee_name" : "",
          "capacity" : 4,
          "county" : {
            "id" : "19",
            "value" : "Los Angeles"
          },
          "phones" : [ ],
          "addresses" : [ {
            "type" : "Residential",
            "address" : {
              "street_address" : "423 Exton",
              "city" : "Inglewood",
              "state" : "CA",
              "zip_code" : "90302",
              "zip_suffix_code" : "0"
            }
          } ]
        }
  recorded_at: Sun, 04 Mar 2018 03:30:06 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/EEwv7B3197/children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incident_id" : "d29f4ab7-6346-453c-80c3-cf3ec5e70300",
            "type" : "unexpected_exception",
            "user_message" : "There was an error processing your request. It has been logged with unique incident id",
            "technical_message" : "DB2 SQL Error: SQLCODE=-302, SQLSTATE=22001, SQLERRMC=1, DRIVER=4.13.127",
            "stack_trace" : "org.hibernate.exception.DataException: could not extract ResultSet\\n\\tat org.hibernate.exception.internal.SQLExceptionTypeDelegate.convert(SQLExceptionTypeDelegate.java:52)\\n\\tat org.hibernate.exception.internal.StandardSQLExceptionConverter.convert(StandardSQLExceptionConverter.java:42)\\n\\tat org.hibernate.engine.jdbc.spi.SqlExceptionHelper.convert(SqlExceptionHelper.java:111)\\n\\tat org.hibernate.engine.jdbc.spi.SqlExceptionHelper.convert(SqlExceptionHelper.java:97)\\n\\tat org.hibern[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/facilities/EEwv7B3197/complaints
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - 763e3b34-f3bd-4c78-b58a-5124b9d7799e
  response:
    status:
      code: 500
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "issue_details" : [ {
            "incide[...]
[...]
