---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 50,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 17,
              "first_name" : "a",
              "middle_name" : "aa",
              "last_name" : "aaa",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 8,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "state" : {
                    "value" : "Alabama",
                    "id" : "AL"
                  }
                },
                "child_in_home" : true
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 48,
            "applicants" : [ {
              "id" : 16,
              "first_name" : "Kimberley",
              "middle_name" : "k",
              "last_name" : "Reily",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 7,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "Kimberley",
                "middle_name" : "k",
                "last_name" : "Reily",
                "name_suffix" : {
                  "value" : "Sr",
                  "id" : 6
                },
                "date_of_birth" : "2000-01-01",
                "gender" : {
                  "value" : "Male",
                  "id" : 1
                },
                "relationship_to_applicants" : [ {
                  "relationship_to_applicant_freeform" : ""
                } ],
                "school_grade" : {
                  "value" : "TK",
                  "id" : 1
                },
                "school_name" : "School name",
                "school_address" : {
                  "street_address" : "address here",
                  "zip" : "12345",
                  "city" : "",
                  "state" : {
                    "value" : "Alabama",
                    "id" : "AL"
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 27,
            "application_county" : {
              "value" : "Madera",
              "id" : 20
            },
            "applicants" : [ {
              "id" : 15,
              "first_name" : "Dillon",
              "middle_name" : "",
              "last_name" : "Wisozk",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 5,
                "convicted_in_california" : true,
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test offense",
                  "offense_city" : "test offense city",
                  "when_offense_happen" : "date of offense",
                  "offense_details" : "offense details"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "outside test offense",
                  "offense_city" : "outside test offense city",
                  "when_offense_happen" : "outside date of offense",
                  "offense_details" : "outside offense details"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "cohab test offense",
                  "offense_city" : "cohab test offense city",
                  "when_offense_happen" : "cohab date of offense",
                  "offense_details" : "cohab offense details"
                } ]
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 26,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
 [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 51,
          "is_initial_application" : false
        }
  recorded_at: Mon, 05 Mar 2018 20:27:31 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/51/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:31 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 51,
          "is_initial_application" : false
        }
  recorded_at: Mon, 05 Mar 2018 20:27:31 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:32 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:32 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:33 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:33 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:33 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:33 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:34 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
            "value" : "No preference",
            "id" : 7
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:35 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "0",
            "id" : 1
          }, {
            "value" : "2",
            "id" : 2
          }, {
            "value" : "3",
            "id" : 3
          }, {
            "value" : "4",
            "id" : 4
          }, {
            "value" : "5+",
            "id" : 5
          } ]
        }
  recorded_at: Mon, 05 Mar 2018 20:27:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alameda",
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 51,
          "is_initial_application" : false
        }
  recorded_at: Mon, 05 Mar 2018 20:27:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/applicants. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/residence. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:36 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/applicants-history. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/minor-children. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/other-adults. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/51/adoption-history. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Mon, 05 Mar 2018 20:27:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/51/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f916d00f-9d29-479a-afd5-a2ac0d18557d
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
[...]
