---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUBrMa79pg_C41sJCwROaj0syYArPDa7_WtLXdeIPEce2R-D4GFawzgyDeYYlMkxAWwftLgOPhJUnaFwj09oBbp3K-OwuxE9cAjOfmOLe32Wf2W-5R2dFHjUBsyRT5DoLDKyVbj5gOtAGuKJ9oqDl266zUy0ahGFj-JdIJillArKqMEJE7w7pbeupox8VYIAtATWfRI3e7lAJJeW_Oe1An5LyuzK_2JNsIZOhKERfFBF1N0IQvC9oZUNqtO3qbbJVYWxrL_fiE2u5zSv2Saui82PQQ6aemdq7nZKL2C_BWSlVDgKfiMzpuncLiiicn6tHs6UDbRY2YZGn2NOZ_B8dnyjkK89549vaUkPo2a-7g-_ut3GT_R5NGMOgF73fHtom5kBinj6SqZQbBYZKep4CJ5rscAaCX1CNnvVAbyb81czYbFhs3AGb4jbhuJ5uJd6WkCGr9Cs2lfOpPbkhIWGretjxorqnLFde39k4wxenyzljzPy2Qs_jU6y8AY7_hBmSQLcwXF6z55Qz73Tab_Z6YQfFZJtjo_uEKN1-eBbfg4qerHVGfFuJgXQEEbGevSJTOlugx4t1xqFc-Px4-hwnZwIOv7U4wG8zPhYL32j2k75RXSr4nCfQMsJAOMZdR_Chp-PmeGt7MHVd48QmSoy_gtyNETmclxQ-16nL0khj_pH1M70rx10TT46oik_7S6diAxSo3vZGtlF-YKTqimP7jUVPbi1iy5YYY28Z-NeYMW7BvmLcA1r74Ud0_0edchVDvRYsm2DjA0SQ.DmzU5CpLnKkm9CyjS_7YDA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 2548,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "applicants" : [ {
              "id" : 1594,
              "first_name" : "am",
              "middle_name" : "bm",
              "last_name" : "cm",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2547,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "applicants" : [ {
              "id" : 1593,
              "first_name" : "Test",
              "middle_name" : "page",
              "last_name" : "template",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 250
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2545,
            "application_county" : {
              "value" : "Mendocino",
              "id" : 23
            },
            "applicants" : [ {
              "id" : 1592,
              "first_name" : "lkj",
              "middle_name" : "",
              "last_name" : "jlk",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2543,
            "application_county" : {
              "value" : "Sacramento",
              "id" : 34
            },
            "applicants" : [ {
              "id" : 1589,
              "name_prefix" : {
                "value" : "Ms.",
                "id" : 2
              },
              "first_name" : "AFn",
              "middle_name" : "N",
              "last_name" : "ALn",
              "name_suffix" : {
                "value" : "Jr",
                "id" : 5
              },
              "other_names" : [ {
                "name_prefix" : {
                  "value" : "Ms.",
                  "id" : 2
                },
                "first_name" : "AOnFn",
                "middle_name" : "N.",
                "last_name" : "AOnLn",
                "name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "name_type" : {
                  "value" : "Maiden",
                  "id" : 2
                }
              } ],
              "highest_education_level" : {
                "value" : "High School or Equivalent",
                "id" : 3
              },
              "date_of_birth" : "1981-12-26",
              "gender" : {
                "value" : "Female",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Alaskan Native",
                "id" : 1
              },
              "driver_license_number" : "A1234567",
              "driver_license_state" : {
                "value" : "California",
                "id" : "CA"
              },
              "email" : "anna.smith@gmail.com",
              "employment" : {
                "employer_name" : "HSH Inc.",
                "occupation" : "Sr. Analyst",
                "income" : 98000,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "1702 Redoak Ct.",
                  "city" : "Rocklin",
                  "state" : {
                    "value" : "CA - California",
                    "id" : "AL"
                  },
                  "zip" : "98123"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Cell",
                  "id" : 1
                },
                "number" : "5347589802"
              }, {
                "phone_type" : {
                  "value" : "Work",
                  "id" : 3
                },
                "number" : "5347589803",
                "preferred" : true
              } ],
              "rfa1b_form" : {
                "id" : 249
              }
            }, {
              "id" : 1590,
              "first_name" : "AFn",
              "middle_name" : "N.",
              "last_name" : "ALn",
              "rfa1b_form" : {
                "id" : 247
              }
            }, {
              "id" : 1591,
              "first_name" : "xcvxcvxcv",
              "last_name" : "xcvxcvxc",
              "email" : "string",
              "rfa1b_form" : {
                "id" : 248
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2539,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 1588,
              "first_name" : "Tomasa",
              "middle_name" : "k",
              "last_name" : "Volkman",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 2538,
            "application_county" : {
              "value" : "Los Angeles",
              "id" : 19
            },
            "applicants" : [ {
              "id" : 1587,
              "first_name" : "Roslyn",
              "middle_name" : "k",
              "last[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUBrMa79[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/2549/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUBrMa79pg_C41sJCwROaj0syYArPDa7_WtLXdeIPEce2R-D4GFawzgyDeYYlMkxAWwftLgOPhJUnaFwj09oBbp3K-OwuxE9cAjOfmOLe32Wf2W-5R2dFHjUBsyRT5DoLDKyVbj5gOtAGuKJ9oqDl266zUy0ahGFj-JdIJillArKqMEJE7w7pbeupox8VYIAtATWfRI3e7lAJJeW_Oe1An5LyuzK_2JNsIZOhKERfFBF1N0IQvC9oZUNqtO3qbbJVYWxrL_fiE2u5zSv2Saui82PQQ6aemdq7nZKL2C_BWSlVDgKfiMzpuncLiiicn6tHs6UDbRY2YZGn2NOZ_B8dnyjkK89549vaUkPo2a-7g-_ut3GT_R5NGMOgF73fHtom5kBinj6SqZQbBYZKep4CJ5rscAaCX1CNnvVAbyb81czYbFhs3AGb4jbhuJ5uJd6WkCGr9Cs2lfOpPbkhIWGretjxorqnLFde39k4wxenyzljzPy2Qs_jU6y8AY7_hBmSQLcwXF6z55Qz73Tab_Z6YQfFZJtjo_uEKN1-eBbfg4qerHVGfFuJgXQEEbGevSJTOlugx4t1xqFc-Px4-hwnZwIOv7U4wG8zPhYL32j2k75RXSr4nCfQMsJAOMZdR_Chp-PmeGt7MHVd48QmSoy_gtyNETmclxQ-16nL0khj_pH1M70rx10TT46oik_7S6diAxSo3vZGtlF-YKTqimP7jUVPbi1iy5YYY28Z-NeYMW7BvmLcA1r74Ud0_0edchVDvRYsm2DjA0SQ.DmzU5CpLnKkm9CyjS_7YDA"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Fri, 16 Feb 2018 01:49:47 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCX[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUBrMa79pg_C41sJCwROaj0syYArPDa7_WtLXdeIPEce2R-D4GFawzgyDeYYlMkxAWwftLgOPhJUnaFwj09oBbp3K-OwuxE9cAjOfmOLe32Wf2W-5R2dFHjUBsyRT5DoLDKyVbj5gOtAGuKJ9oqDl266zUy0ahGFj-JdIJillArKqMEJE7w7pbeupox8VYIAtATWfRI3e7lAJJeW_Oe1An5LyuzK_2JNsIZOhKERfFBF1N0IQvC9oZUNqtO3qbbJVYWxrL_fiE2u5zSv2Saui82PQQ6aemdq7nZKL2C_BWSlVDgKfiMzpuncLiiicn6tHs6UDbRY2YZGn2NOZ_B8dnyjkK89549vaUkPo2a-7g-_ut3GT_R5NGMOgF73fHtom5kBinj6SqZQbBYZKep4CJ5rscAaCX1CNnvVAbyb81czYbFhs3AGb4jbhuJ5uJd6WkCGr9Cs2lfOpPbkhIWGretjxorqnLFde39k4wxenyzljzPy2Qs_jU6y8AY7_hBmSQLcwXF6z55Qz73Tab_Z6YQfFZJtjo_uEKN1-eBbfg4qerHVGfFuJgXQEEbGevSJTOlugx4t1xqFc-Px4-hwnZwIOv7U4wG8zPhYL32j2k75RXSr4nCfQMsJAOMZdR_Chp-PmeGt7MHVd48QmSoy_gtyNETmclxQ-16nL0khj_pH1M70rx10TT46oik_7S6diAxSo3vZGtlF-YKTqimP7jUVPbi1iy5YYY28Z-NeYMW7BvmLcA1r74Ud0_0edchVDvRYsm2DjA0SQ.DmzU5CpLnKkm9CyjS_7YDA"
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/2549/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Fri, 16 Feb 2018 01:49:47 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2A[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-h[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-haf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-haf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHH[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWK[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCX[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArm[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKA[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmM[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZ[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWK[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-ha[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKAr[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-h[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-ha[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaM[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BC[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCX[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-h[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCX[...]
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2549/child-desired
    body:
      encoding: UTF-8
      string: '{"child_identified":"true","child_in_home":"true","preferred_ages":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..AiZeA62a1cAed60J.Q19WyB6WdnmtCKnI4fR8IgElHJkNwNM2QJRFq39jkXoU62MYu-ltzkDyQGsqUWfJUb2C4b6y6Gym31N_wvJZjeZxsXOFcOvMBP6y7s4OT6FdcXkqV3bNwfS7qJTMGmwBgkkfWP7c6Osysh7bjzLIZZOpNQyhgXK-aEbsqcOKMKzsN1oMirItvwOwhC2wbifxO-iwBYWqlXCKLfpxLefNVR7oF4Pj65e96YjHHazpi2AaMk9BCXH-hafZWKArmMUBrMa79pg_C41sJCwROaj0syYArPDa7_WtLXdeIPEce2R-D4GFawzgyDeYYlMkxAWwftLgOPhJUnaFwj09oBbp3K-OwuxE9cAjOfmOLe32Wf2W-5R2dFHjUBsyRT5DoLDKyVbj[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/school-grades
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
[...]
