---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 398,
            "applicants" : [ {
              "id" : 210,
              "first_name" : "Dillon",
              "middle_name" : "",
              "last_name" : "Wisozk",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 38,
                "convicted_in_california" : true,
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test offense",
                  "offense_city" : "test offense city",
                  "when_offense_happen" : "date of offense",
                  "offense_details" : "offense details"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "outside test offense",
                  "offense_city" : "outside test offense city",
                  "when_offense_happen" : "outside date of offense",
                  "offense_details" : "outside offense details"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "cohab test offense",
                  "offense_city" : "cohab test offense city",
                  "when_offense_happen" : "cohab date of offense",
                  "offense_details" : "cohab offense details"
                } ]
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 392,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 208,
              "first_name" : "Opal",
              "middle_name" : "",
              "last_name" : "Turner",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 209,
              "first_name" : "Kamryn",
              "middle_name" : "",
              "last_name" : "Hermann",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 389,
            "applicants" : [ {
              "id" : 207,
              "first_name" : "Geovanni",
              "middle_name" : "",
              "last_name" : "Moen",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 388,
            "applicants" : [ {
              "id" : 206,
              "first_name" : "Delphia",
              "middle_name" : "",
              "last_name" : "Pouros",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 386,
            "residence" : {
              "addresses" : [ {
                "street_address" : "",
                "zip" : "",
                "city" : "",
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              }, {
                "street_address" : "maing address here",
                "zip" : "12345",
                "city" : "secondary city",
                "type" : {
                  "value" : "Mailing",
                  "id" : 3
                }
              } ],
              "physical_mailing_similar" : false,
              "residence_ownership" : {
                "value" : "Own",
                "id" : 1
              },
              "weapon_in_home" : true,
              "body_of_water_exist" : true,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : true,
              "other_people_using_residence_as_mailing" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : ""
              } ],
              "directions_to_home" : "directions goes here",
              "home_languages" : [ {
                "value" : "American Sign Language",
                "id" : 1
              }, {
                "value" : "Armenian",
                "id" : 3
              } ]
            },
            "applicants" : [ {
              "id" : 205,
              "first_name" : "Schuyler",
              "middle_name" : "k",
              "last_name" : "Langworth",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 something else",
                  "city" : "",
                  "zip" : "12345"
                }
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 385,
            "applicants" : [ {
              "id" : 203,
              "first_name" : "Enrique",
              "middle_name" : "k",
              "last_name" : "Johns",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "minor_children" : [ {
              "id" : 11,
              "relationship_to_applicants" : [ {
                "applicant_id" : 203,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "is_initial_application" : false
          }, {
            "id" : 384,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 204,
              "first_name" : "a",
              "middle_name" : "b",
              "last_name" : "c",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 383,
            "applicants" : [ {
              "id" : 202,
              "first_name" : "Kip",
              "middle_name" : "k",
              "last_name" : "Fadel",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 18,
              "first_name" : "Sage",
              "relationship_to_applicants" : [ {
                "applicant_id" : 202,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 382,
            "applicants_history" : {
              "former_spouses" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : "Sacremento"
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 201,
              "first_name" : "Dillon",
              "middle_name" : "k",
              "last_name" : "Franecki",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 381,
            "applicants_history" : {
              "former_spouses" : [ {
                "first_name" : "Sam",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 200,
              "first_name" : "Alexandre",
              "middle_name" : "k",
              "last_name" : "Zulauf",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 380,
            "applicants" : [ {
              "id" : 199,
              "first_name" : "Bill",
              "middle_name" : "k",
              "last_name" : "Bartell",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 378,
            "applicants_history" : {
              "former_spouses" : [ {
                "relationship_type" : {
                  "value" : "Married",
                  "id" : 1
                },
                "applicant_id" : 198,
                "first_name" :[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 399,
          "is_initial_application" : false
        }
  recorded_at: Wed, 14 Mar 2018 22:56:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/399/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/399?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 399,
          "is_initial_application" : false
        }
  recorded_at: Wed, 14 Mar 2018 22:56:39 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/399/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/399/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Wed, 14 Mar 2018 22:56:40 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Ala[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Residential",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Mailing",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:43 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Married",
            "id" : 1
          }, {
            "value" : "Domestic Partnership",
            "id" : 2
          }, {
            "value" : "Related (Family Member)",
            "id" : 3
          }, {
            "value" : "Cohabitants",
            "id" : 4
          }, {
            "value" : "Other",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "License",
            "id" : 1
          }, {
            "value" : "Certification",
            "id" : 2
          }, {
            "value" : "Approval",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Child",
            "id" : 1
          }, {
            "value" : "Sibling",
            "id" : 2
          }, {
            "value" : "Cousin",
            "id" : 3
          }, {
            "value" : "Niece",
            "id" : 4
          }, {
            "value" : "Nephew",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "AKA",
            "id" : 1
          }, {
            "value" : "Doe",
            "id" : 2
          }, {
            "value" : "Legal",
            "id" : 3
          }, {
            "value" : "Maiden",
            "id" : 4
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:44 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Esq",
            "id" : 1
          }, {
            "value" : "II",
            "id" : 2
          }, {
            "value" : "III",
            "id" : 3
          }, {
            "value" : "IV",
            "id" : 4
          }, {
            "value" : "JD",
            "id" : 9
          }, {
            "value" : "Jr",
            "id" : 5
          }, {
            "value" : "MD",
            "id" : 7
          }, {
            "value" : "PhD",
            "id" : 8
          }, {
            "value" : "Sr",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Dr.",
            "id" : 4
          }, {
            "value" : "Miss",
            "id" : 5
          }, {
            "value" : "Mr.",
            "id" : 1
          }, {
            "value" : "Mrs.",
            "id" : 3
          }, {
            "value" : "Ms.",
            "id" : 2
          }, {
            "value" : "Rev.",
            "id" : 6
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Cell",
            "id" : 1
          }, {
            "value" : "Home",
            "id" : 2
          }, {
            "value" : "Work",
            "id" : 3
          }, {
            "value" : "Alternate",
            "id" : 4
          }, {
            "value" : "Fax",
            "id" : 5
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Male",
            "id" : 1
          }, {
            "value" : "Female",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Eighth Grade or Less",
            "id" : 1
          }, {
            "value" : "Some High School",
            "id" : 2
          }, {
            "value" : "High School or Equivalent",
            "id" : 3
          }, {
            "value" : "Technical Training beyond High School",
            "id" : 4
          }, {
            "value" : "Some College or College-Level courses",
            "id" : 5
          }, {
            "value" : "College Graduate",
            "id" : 6
          }, {
            "value" : "Post-Graduate Education",
            "id" : 7
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:45 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "American [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "Alabama",
  [...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "yearly",
            "id" : 1
          }, {
            "value" : "monthly",
            "id" : 2
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:46 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Marriage Dissolution (Divorce)",
            "id" : 1
          }, {
            "value" : "Spouse Died",
            "id" : 2
          }, {
            "value" : "Domestic Partnership Dissolution",
            "id" : 3
          } ]
        }
  recorded_at: Wed, 14 Mar 2018 22:56:46 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - f2cd7868-91d5-43a0-9545-eaa21b55f17a
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "value" : "0-3 years",
            "id" : 1
          }, {
            "value" : "4-8 years",
            "id" : 2
          }, {
            "value" : "9-12 years",
            "id" : 3
          }, {
            "value" : "13-15 years",
            "id" : 4
          }, {
            "value" : "16-18 years",
            "id" : 5
          }, {
            "value" : "18-21 years",
            "id" : 6
          }, {
[...]
