---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_m2LAzfu8QSrEYxqwQmOS4gi50Od_LntuZbafJAARqt0QrA1gRthK_JqafPcXELe_2qohCyy05w5jGnR3wDBVolInZAw2oDXBlZ8PX73bEcwT2GLW36Vu1jljJO4lGVTP42O2Gnzvy80zQv890Sz5fhaSsv7-R-bFs-Rt11QylDPgcSbxB189Lhc--HzhbBQeKYwzHvQScJ-OMbVPvQaWEBNxlEbqrSaNHac5bEuW3528vTanBk3fctaS28jhc6ySIU5fxns3uPxEf0NoNEzYRF4Z9owvb_qZHqbgZeSj1v6alrfFa5A-x9r7cWEE-j585Mm2RkzN2upBwuN7dNi_mwfr9UKTwXdhdK93zcK2ISE-hBVGbjm6qaoC4RcFvwFXJt5VjmmZrba3gqD2eb0Hi7yXE19zdoDvSuCD9LpKHs5iRPhS1D2blox8IeMXxzSMkzWPwD8Db_w2KW9DT4qnxENBBd6YnL0qyJEymoY99MP0DkNQpE8qNzYl1XX-obuR16EeqzfSiw4gOz1h-BDw4V65UDZFIOqlXvGGbx6b1k6q0i0erQdEYLuJB6RLNVAWeFgLjyQe7DWjaYs335t9zIO9iuChPqQ485fPEuAj5PozF2fd8YG7v52T-pRBh-h8S8EUdHFEfQ9sw3ghDnjeoT86nC_rOiXOqULpODaNwJTcvihdC2hiL2ID3V9J2eaoi3CVv7SaiwQxSQEIP_CcNuL2c4yNBuPTSUBTTt_fULLW7X6ksYfUW3dXQZTJRIb_9Iafh20zDIwbLsUB-Y1p81ivcdnfJ8mq2kv8cvZBOLxkec9Uro84Srdd_RRn_PYJNBXu2Hsg.FzN8-CkduOtN4aDAH01YCQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 912,
            "applicants" : [ {
              "id" : 349,
              "first_name" : "Warren",
              "middle_name" : "k",
              "last_name" : "Buckridge",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 117,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ ],
                "convicted_in_another_state_disclosures" : [ ],
                "arrested_for_crime_disclosures" : [ ]
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 911,
            "applicants" : [ {
              "id" : 348,
              "first_name" : "Ally",
              "middle_name" : "k",
              "last_name" : "Gusikowski",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 908,
            "residence" : {
              "addresses" : [ {
                "street_address" : "2227 4th Ave",
                "zip" : "95818",
                "city" : "Mendocino",
                "state" : {
                  "value" : "California",
                  "id" : "CA"
                },
                "type" : {
                  "value" : "Residential",
                  "id" : 1
                }
              } ],
              "physical_mailing_similar" : true,
              "weapon_in_home" : false,
              "body_of_water_exist" : false,
              "body_of_water_description" : "",
              "others_using_residence_as_mailing" : false,
              "directions_to_home" : "",
              "home_languages" : [ ]
            },
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              }
            },
            "applicants" : [ {
              "id" : 347,
              "first_name" : "Fast",
              "middle_name" : "",
              "last_name" : "Walker",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            }, {
              "id" : 346,
              "first_name" : "Jay",
              "middle_name" : "",
              "last_name" : "Walker",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 116,
                "convicted_in_california_disclosures" : [ ],
                "convicted_in_another_state_disclosures" : [ ],
                "arrested_for_crime_disclosures" : [ ]
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 46,
              "first_name" : "Slow",
              "last_name" : "Walker",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            }, {
              "id" : 47,
              "first_name" : "Non",
              "last_name" : "Walker",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Sibling",
                  "id" : 2
                }
              } ]
            } ],
            "rfa1c_forms" : [ {
              "id" : 187,
              "child_identified" : false,
              "identified_children" : [ ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 907,
            "applicants" : [ {
              "id" : 345,
              "first_name" : "Nesh",
              "middle_name" : "",
              "last_name" : "R",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 186,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "X",
                "middle_name" : "",
                "last_name" : "y",
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "type" : {
                    "value" : "Mailing",
                    "id" : 3
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 902,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "date_of_relationship" : "2001-12-09",
              "place_of_relationship_city" : "Sacramento",
              "place_of_relationship_state" : {
                "value" : "California",
                "id" : "CA"
              }
            },
            "applicants" : [ {
              "id" : 343,
              "first_name" : "test",
              "middle_name" : "",
              "last_name" : "validator",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            }, {
              "id" : 344,
              "first_name" : "test",
             [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_m2LAzfu[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/913/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKc[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U9[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U9[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98tt[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98tt[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttps[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_m2L[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U9[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCS[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3I[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Retta","middle_name":"k","last_name":"Swaniawski","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_m2LAzfu8QSrEYxqwQmOS4gi50O[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3jdzi-U98ttpsf_m2LAzfu8QSrEYxqwQmOS4gi50Od_LntuZbafJAARqt0QrA1gRthK_JqafPcXELe_2qohCyy05w5jGnR3wDBVolInZAw2oDXBlZ8PX73bEcwT2GLW36Vu1jljJO4lGVTP42O2Gnzvy80zQv890Sz5fhaSsv7-R-bFs-Rt11QylDP[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/rfa-1b-forms/applicants/350
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/913/rfa-1b-forms/118
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..QbmEcz6FjtZnjvoH.GoYvaH4e29Xi647-COdtROqyCzjQAzhuuVT3JvWMyX9LROrx3V-i8C2287wN37iSVA19WFPx7i5TuAey_LZOJ-ZBwWxJd-Zd6NonBu6Jcj0Zn7xPzD_hEm8gH4etLZBNYhy-WcQ5E5FPVIvUt5wWUHZ2CI0GuSPYqremFwWGZKJx3GkQKJ41fBS-CclwpBLdpyhNl1aVXtXwloAWuFFC3d2tZiRSV7GQE0i77jO3IKcdCSj3[...]
[...]
