---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4r6wQOJCHDpWQnEd.BCV_0l38tDYXzwAMdXBL1NGV8U7_naSZdS0lZVAXTa4ryezTFMLovIuTDDz9lNid8ZccvaEOxVSNFq_UQZT-kX1b9hAtY9iUX5zu88hBk_SeE-2_ZVHusZU8Vq3bOZ5-Ixc2hkkjQgpv773hWFweCVyKCr3nejF7vXVzjSnz0kmAMxyMfPjvNjibdGFSBvEKAPV4fBJQx9yPqvvDQ0yJp182_BQfTQyumzF4A3QHXejCXulLaklEGT2iMODbbIq-gy5MNfx2DI-zPHxwWexHrQOVqV4iUco16KLCrR5s_dMTCD3Z9FJiKAJB_KkJ2HqqUTjSxfnC16xp25F6Fm2QCDqms0UvlpxPXv9fkKv4M5k2qAkDB7B2Y5B7ZLnqAHSZ3jzeX_ct8kRVCc4Jg2l7QjOSeApRLYAWapXEIMqhqo9HCw8Q-ySX0ijAyhOBNqzaYA4o5chjJjXoLVpVsuU2sWoEGyh4rIk0MtGIZdS1a7q71CtRcXWQwpIseUpxwlxzAGSrA4OGJ1W62Q87rMNkJSXe--Me58CzWjfmfjTnddWm2IQJ4AApn7Sm7JcmtCKHQ5gW5h0lE9naiQ9EhHHm5U9DY3j8EH-JKsKUKKo7f1qqgKR2fka0HbsaFzUnEzntRsbzS3ae_s9aRJHe-55u_c33gsUiKKwHiOGZGnu8CLAxrdy2iREBEqCsR7g9fUCQP5as-4KYFMVzPVcvjDLa_qnHIu-dS203fNqzweRANXxlWN0dNgtAs-r6QUI8A9VzY8cao7ySg-2Mg8HAMujQE9Y7O5q7Dx6tUp4Rkr8JVOpUgU7OlGZWuSZFIAd9KEWnyfmRyjHQpDtcqSoUYT46RoRse8L3xMWd_06M6IB0ixEg6KWxWLYR0a5Z7q_3AiUaVp0z6IXCUuJN_tro8cHLB0JQD4lt6mNdpl-YGPFdFnsokoXVgaFAKmM2jzZi3vsEsow2eOPtZUBSUNXDlrw-Gf5p43-rPbWaApYKnqV09Q.OAWH9zLquuXO1npPmseyyg"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 922,
            "applicants" : [ {
              "id" : 355,
              "first_name" : "test",
              "middle_name" : "fetch",
              "last_name" : "ie11",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "",
                "occupation" : "",
                "income" : 3333,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "",
                  "city" : "",
                  "zip" : ""
                }
              },
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 919,
            "applicants" : [ {
              "id" : 354,
              "first_name" : "test9",
              "middle_name" : "c",
              "last_name" : "ad",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ],
              "rfa1b_form" : {
                "id" : 119,
                "application_county" : {
                  "value" : "Merced",
                  "id" : 24
                },
                "convicted_in_california" : true,
                "resource_family_name" : "test",
                "applicant_name_prefix" : {
                  "value" : "Miss",
                  "id" : 5
                },
                "applicant_first_name" : "test",
                "applicant_middle_name" : "test",
                "applicant_last_name" : "test",
                "applicant_name_suffix" : {
                  "value" : "Jr",
                  "id" : 5
                },
                "ssn" : "9811",
                "driver_license" : "1212",
                "driver_license_state" : {
                  "value" : "American Samoa",
                  "id" : "AM"
                },
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test",
                  "offense_city" : "test",
                  "offense_state" : {
                    "value" : "California",
                    "id" : "CA"
                  },
                  "when_offense_happen" : "test",
                  "offense_details" : "test"
                } ],
                "convicted_in_another_state_disclosures" : [ ],
                "arrested_for_crime_disclosures" : [ ]
              }
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 917,
            "applicants" : [ {
              "id" : 353,
              "first_name" : "test",
              "middle_name" : "no",
              "last_name" : "1",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 190,
              "child_identified" : false,
              "identified_children" : [ {
                "first_name" : "test",
                "middle_name" : "edit",
                "last_name" : "complete",
                "relationship_to_applicants" : [ ],
                "school_name" : "",
                "school_address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : "",
                  "type" : {
                    "value" : "Mailing",
                    "id" : 3
                  }
                },
                "child_in_home" : false
              } ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 916,
            "applicants" : [ {
              "id" : 352,
        [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4r6wQOJCHDpWQnEd.BCV_0l38tDYXzwAMdXBL1NGV8U7_naSZdS0lZVAXTa4ryezTFMLovIuTDDz9lNid8ZccvaEOxVSNFq_UQZT-kX1b9hAtY9iUX5zu88hBk_SeE-2_ZVHusZU8Vq3bOZ5-Ixc2hkkjQgpv773hWFweCVyKCr3nejF7vXVzjSnz0kmAMxyMfPjvNjibdGFSBvEKAPV4fBJQx9yPqvvDQ0yJp182_BQfTQyumzF4A3QHXejCXulLaklEGT2iMODbbIq-gy5MN[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/926/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4r6wQOJCHDpWQnEd.BCV_0l38tDYXzwAMdXBL1NGV8U7_naSZdS0lZVAXTa4ryezTFMLovIuTDDz9lNid8ZccvaEOxVSNFq_UQZT-kX1b9hAtY9iUX5zu88hBk_SeE-2_ZVHusZU8Vq3bOZ5-Ixc2hkkjQgpv773hWFweCVyKCr3nejF7vXVzjSnz0kmAMxyMfPjvNjibdGFSBvEKAPV4fBJQx9yPqvvDQ0yJp182_BQfTQyumzF4A3QHXejCXulLaklEGT2iMODbbIq-gy5MNfx2DI-zPHxwWexHrQOVqV4iUco16KLCrR5s_dMTCD3Z9FJiKAJB_KkJ2HqqUTjSxfnC16xp25F6Fm2QCDqms0UvlpxPXv9fkKv4M5k2qAkDB7B2Y5B7ZLnqAHSZ3jzeX_ct8kRVCc4Jg2l7QjOSeApRLYAWapXEIMqhqo9HCw8Q-ySX0ijAyhOBNqzaYA4o5chjJjXoLVpVsuU2sWoEGyh4rIk0MtGIZdS1a7q71CtRcXWQwpIseUpxwlxzAGSrA4OGJ1W62Q87rMNkJSXe--Me58CzWjfmfjTnddWm2IQJ4AApn7Sm7JcmtCKHQ5gW5h0lE9naiQ9EhHHm5U9DY3j8EH-JKsKUKKo7f1qqgKR2fka0HbsaFzUnEzntRsbzS3ae_s9aRJHe-55u_c33gsUiKKwHiOGZGnu8CLAxrdy2iREBEqCsR7g9fUCQP5as-4KYFMVzPVcvjDLa_qnHIu-dS203fNqzweRANXxlWN0dNgtAs-r6QUI8A9VzY8cao7ySg-2Mg8HAMujQE9Y7O5q7Dx6tUp4Rkr8JVOpUgU7OlGZWuSZFIAd9KEWnyfmRyjHQpDtcqSoUYT46RoRse8L3xMWd_06M6IB0ixEg6KWxWLYR0a5Z7q_3AiUaVp0z6IXCUuJN_tro8cHLB0JQD4lt6mNdpl-YGPFdFnsokoXVgaFAKmM2jzZi3vsEsow2eOPtZUBSUNXDlrw-Gf5p43-rPbWaApYKnqV09Q.OAWH9zLquuXO1npPmseyyg"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Fri, 08 Dec 2017 18:12:51 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/926?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4r6wQOJCHDpWQnEd.BCV_0l38tDYXzwAMdXBL1NGV8U7_naSZdS0lZVAXTa4ryezTFMLovIuTDDz9lNid8ZccvaEOxVSNFq_UQZT-kX1b9hAtY9iUX5zu88hBk_SeE-2_ZVHusZU8Vq3bOZ5-Ixc2hkkjQgpv773hWFweCVyKCr3nejF7vXVzjSnz0kmAMxyMfPjvNjibdGFSBvEKAPV4fBJQx9yPqvvDQ0yJp182_BQfTQyumzF4A3QHXejCXulLakl[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/926/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4r6wQOJCHDpWQnEd.BCV_0l38tDYXzwAMdXBL1NGV8U7_naSZdS0lZVAXTa4ryezTFMLovIuTDDz9lNid8ZccvaEOxVSNFq_UQZT-kX1b9hAtY9iUX5zu88hBk_SeE-2_ZVHusZU8Vq3bOZ5-Ixc2hkkjQgpv773hWFweCVyKCr3nejF7vXVzjSnz0kmAMxyMfPjvNjibdGFSBvEKAPV4fBJQx9yPqvvDQ0yJp182_BQfTQyumzF4A3QHXejCXulLaklEGT2iMODbbIq-gy5MNfx2DI-zPHxwWexHrQOVqV4iUco16KLCrR5s_dMTCD3Z9FJiKAJB_KkJ2HqqUTjSxfnC16xp25F6Fm2QCDqms0UvlpxPXv9fkKv4M5k2qAkDB7B2Y5B7ZLnqAHSZ3jzeX_ct8kRVCc4Jg2l7QjOSeApRLYAWapXEIMqhqo9HCw8Q-ySX0ijAyhOBNqzaYA4o5chjJjXoLVpVsuU2sWoEGyh4rIk0MtGIZdS1a7q71CtRcXWQwpIseUpxwlxzAGSrA4OGJ1W62Q87rMNkJSXe--Me58CzWjfmfjTnddWm2IQJ4AApn7Sm7JcmtCKHQ5gW5h0lE9naiQ9EhHHm5U9DY3j8EH-JKsKUKKo7f1qqgKR2fka0HbsaFzUnEzntRsbzS3ae_s9aRJHe-55u_c33gsUiKKwHiOGZGnu8CLAxrdy2iREBEqCsR7g9fUCQP5as-4KYFMVzPVcvjDLa_qnHIu-dS203fNqzweRANXxlWN0dNgtAs-r6QUI8A9VzY8cao7ySg-2Mg8HAMujQE9Y7O5q7Dx6tUp4Rkr8JVOpUgU7OlGZWuSZFIAd9KEWnyfmRyjHQpDtcqSoUYT46RoRse8L3xMWd_06M6IB0ixEg6KWxWLYR0a5Z7q_3AiUaVp0z6IXCUuJN_tro8cHLB0JQD4lt6mNdpl-YGPFdFnsokoXVgaFAKmM2jzZi3vsEsow2eOPtZUBSUNXDlrw-Gf5p43-rPbWaApYKnqV09Q.OAWH9zLquuXO1npPmseyyg"
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html;charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <html>
        <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>Error 404 Not Found</title>
        </head>
        <body><h2>HTTP ERROR 404</h2>
        <p>Problem accessing /rfa-1a-forms/926/rfa-1c-forms. Reason:
        <pre>    Not Found</pre></p>
        </body>
        </html>
  recorded_at: Fri, 08 Dec 2017 18:12:53 GMT
recorded_with: VCR 3.0.3
