---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/1926/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgcmgZTROcpQBknREtIlCCDsDkCg8KWaslO99VjzQMkJIxmVM6-LoCJ8BMT0PVtZt20aEKI1YV-6CUueNGQoNxooFVeZ6_US4JXHA7cnMZbNszTDl05383PDUGCxMa6qXGyJ-lnEIIGoP6sPnO1PKQq78f8jpULTpJLgZk07FQvbS9i0plYIQshqZh9MfVCC3bmpu9BcPZc8M-htamDDJBcIDbYL2zcGQ76eXPpmjUsd_PYXQ51dWZ4PWSpuvEyGrCbZJ3e1Je4NwWV7afyAZq9kXg7hcJId_IBfWapTWFEKom-pOuKslhrCDZRVjtSMBc_wh8iTHlap5n19Y2SM1ULMW4yt5uhcFPTCSsATT0jLei0u2v9k2dM-XapCZrLaLcj7-wArU6Xm6YvtAakOXhD_nKMq7UbzIFNzKMP6X6qEze-e3ERZF36SytW6mKrkcdIwKOrQ9SvSgldLE5QF9xAr7yOrbVw8W4zOVyNX_rv61OAagQlzDLt0Ue0fwMegAhLq8IW-noGE-ULQ7FYYyDHL3CSBAOomGYHeBSJ0Uq-mc6jiLKubyfkF3jk37N8lOtetwI8SRbtdRQBMRfwsgNPkPL18a4_oLnGj9gWs6Qu2j3vSNuxiwy6tWxqcTNLE4TjNZkS6rvGlJEYOtQsoZxZSh7zdFtq9FxXBdg2N8PIlFyc_hY3jOgyzHnDxxY7rCXcmlb9h8hHf_DBv0v8JdP-EF44Xvxw.91COC62NtlRpq5bsWp3Mpw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "rfa1a_sections" : [ {
            "section" : "applicants",
            "filled" : false
          }, {
            "section" : "residence",
            "filled" : false
          }, {
            "section" : "applicants-relationship",
            "filled" : false
          }, {
            "section" : "minor-children",
            "filled" : false
          }, {
            "section" : "other-adults",
            "filled" : false
          }, {
            "section" : "applicants-history",
            "filled" : false
          }, {
            "section" : "child-desired",
            "filled" : false
          }, {
            "section" : "adoption-history",
            "filled" : false
          }, {
            "section" : "references",
            "filled" : false
          }, {
            "section" : "applicants-declaration",
            "filled" : false
          } ],
          "applicants" : [ ],
          "other_adults" : [ ],
          "adult_children" : [ ]
        }
  recorded_at: Wed, 07 Feb 2018 17:30:37 GMT
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2v[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLv[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SP[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLB[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPf[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Jennie","middle_name":"k","last_name":"Ullrich","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgcmgZTROcpQBknREtIlCCDsDkCg8KWaslO99VjzQMkJIxmVM6-LoCJ8BMT0PVtZt20aEKI1YV-6CUueNGQoNxooFVeZ6_US4JXHA7cnMZbNszTDl05383PDUGCxMa6qXGyJ-lnEIIGoP6sPnO1PKQq78f8jpULTpJLgZk07FQvbS9i0plYIQshqZh9MfVCC3bmpu9BcPZc8M-htamDDJBcIDbYL2zcGQ76eXPpmjUsd_PYXQ51dWZ4PWSpuvEyGrCbZJ3e1Je4NwWV7afyAZq9kXg7hcJId_IBfWapTWFEKom-pOuKslhrCDZRVjtSMBc_wh8iTHlap5n19Y2SM1ULMW4yt5uhcFPTCSsATT0jLei0u2v9k2dM-XapCZrLaLcj7-wArU6Xm6YvtAakOXhD_nKMq7UbzIFNzKMP6X6qEze-e3ERZF36SytW6mKrkcdIwKOrQ9SvSgldLE5QF9xAr7yOrbVw8W4zOVyNX_rv61OAagQlzDLt0Ue0fwMegAhLq8IW-noGE-ULQ7FYYyDHL3CSBAOomGYHeBSJ0Uq-mc6jiLKubyfkF3jk37N8lOtetwI8SRbtdRQBMRfwsgNPkPL18a4_oLnGj9gWs6Qu2j3vSNuxiwy6tWxqcTNLE4TjNZkS6rvGlJEYOtQsoZxZSh7zdFtq9FxXBdg2N8PIlFyc_hY3jOgyzHnDxxY7rCXcmlb9h8hHf_DBv0v8JdP-EF44Xvxw.91COC62NtlRpq5bsWp3Mpw"
  response:
    status:
      code: 201
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "id" : 1192,
          "first_name" : "Jennie",
          "middle_name" : "k",
          "last_name" : "Ullrich",
          "other_names" : [ ],
          "driver_license_number" : "",
          "email" : ""
        }
  recorded_at: Wed, 07 Feb 2018 17:30:54 GMT
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/1926/minor-children
    body:
      encoding: UTF-8
      string: '{"child_financially_supported":"true","child_adopted":"true","gender":{"id":"1","value":"Male"},"relationship_to_applicants":[{"applicant_id":1192,"relationship_to_applicant":{"id":"1","value":"Child"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..4PNLvs3sr0j0azmN.WYgFC2Iw8WbSizfFTy8FMoXqL8LKP2as0L0p0rf_ttZ9VQS0So1PkS_5c7y2fcb8l9vTGRDN864EOTkpcqGhIV_Ng6-3Xuz7FNAbqjPrDRcdftiMuy0i48tky7InQdiKlJLZTs95Pi_8esKxytw3KvxId0yn6mk0Pq7XP5uMOFyZA0exKj4iDCRgD3lexsN6Ow-9_w54xWGJODtz-nRd_Y0iYGwvBkysDFwv-FLBlwhLvU_SPfTsxdyP-C0l7P2vG4n_djcsrdxBgw0roS6mzUaP0fau3hASpyqy0GKRN_ms7VTxgV-B_lVPbX8g2IaN8Zt6hdQLDS6zvdrG2MWJMcDffePDFXvN9_dOZvZmgc[...]
[...]
- request:
    method: put
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/316/applicants-history
    body:
      encoding: UTF-8
      string: '{"former_spouses":[{"first_name":"","middle_name":"","last_name":"","applicant_id":195,"date_of_marriage":"","place_of_marriage_city":"","date_of_marriage_end":"","place_of_marriage_end_city":"","relationship_type":{"id":"1","value":"Married"}}],"adult_children":[{"first_name":"","middle_name":"","last_name":"","lives_in_home":"","address":{"street_address":"","zip":"","city":""},"relationship_to_applicants":[{"applicant_id":null}]}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..6C-NlAyx5vTz9xig.OqmJLpZt4sj26jSK7w4EVN7KcJTx1h3LcjbugcQPB9ua8ip-2mVFFSny7yROJ9aouokDAWV4MxpMk2rBfpd09Sfwgsikf4Ue4_Ur2JeYbn3m20Z8LhW-ywarbYsMVmF33QJM5uZdudIrOMS8D9v0GOgKsuhIZaReQxtKOoBLq4f8patjOMMhIsvwFgEpvz03Rsefz-l22wcgiezZiMtkg6exaNcW4d7dHZCwYPpomf9DX2WhQjq0gpSMTbKydvX4rpjGJueoghaxE5b5U27MN8z9__K59OTcRYFbXgeFYminiSXrLBnWMb8qX7pxVnbIrvmvLNK0Lbku[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKa[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEq[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-cfMxHjmuWzr[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEq[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEq[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FO[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJO[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJO[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJ[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-cfM[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22Ep[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-c[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-cfMx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqE[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKa[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfE[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-cf[...]
[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "..Jmm5JekZL6gPrvZC.BjMpoCvmam2JW6iFlhzUgHahOl-OXqlQ69c8J0rHAdWiDqwrYQ_JKfMZ7V1aZyS2fTeq6_oIZbq0_ZAWTq_hRtvpxKgRPPb8YDMBQNn9yN6gbtS-lteFbLRkkk2OnLE7I2eCrDM8fgx-l92mNW331NE7gm5FsSaYEUN7uY0B9ltjTwmjBo8sFEz9FymV5ZY0QRNMeLm3li1FfVpGvEcnS9gbTjJhhodR-i8FOrKaygJ22EpoJJOIfEqEk-cfMxHjmuWzrsmNNNWt9Wermsmw5MUr_gr3FCzWFmZeVhs-UPrYFXJ9LZ6-_Zuee7XWNIKzEklGH9Ep9ROI54dCBhoyOITGGt8esPFvmV48Mzwh8KW-o0c9M33N6fG1NoxYtLR8xCA0SrGUjHt-4QChyb-OG2w-dwjJDcsAIcoQwSssU9Xlaj_ge1wnfF7M5gsam6d--lOFNcc9Og10GOI5cq9_PSe4Al0USoo8eWipuHm7enmWCXzdvHtFo9SwW_7yBa7-Voli2EWdBRECaGyXRdIH7HrzUfN1dmQHHyjakFZyn7FW4YB4kaSbBLKYhw71uZVIwr0-1m85I-AVTXQkA0S9Q4iiWELqlxKZ_9Y_Id8SA7KHGoMJU8aHvEnxZaYxrsDlcCh_kOqeJ54MYvgPTOXbGqlxKbi6tIOeTjJQ2vGyGkegyhOjgk0OhNq3or7KO52BlaJQTzFecTdBDSIsGFU7Be4pVOtL-mp3BiCNVzOBIZ5xPRuGTFzGU8hiAZqFf_ejodMjGOtYCu0Kf1itgWIlllENouma5FKP1EJe7UyKNJxMuVmtD6XKPcBvj2MZo5W437nk_zZDBVQiby-4cHkNsYCF0zcP2f2__atdRuv-yXWVhFxRmcVifuZzr2EvBfyfuZ9-95u8TqNueA28ZZ3AbWTaEgpmXJUUYTNJG--MZi3x7YbtWqPhcNC0H8TlketDGdcJuRE_JYFVPJ8PFy7WP1ClxCuyIgIlNL9Goju7RvGwbRxL69j4-153LY8eju7C9utD-EnDbtij4QCkpLlJZJFjodT_YHFjpSixrkiiUL9toZ0nXSC-Y9aqTt_31slzT42r.hkte4KuUjEE-5ppobwntsg"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "items" : [ {
            "value" : "Own",
            "id" : 1
          }, {
            "value" : "Rent",
            "id" : 2
          }, {
            "value" : "Lease",
            "id" : 3
          } ]
        }
  recorded_at: Tue, 20 Feb 2018 19:10:53 GMT
[...]
