---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7XYuSnTELgmeyhoAYYCsgZH54zFc16sAWdk_c2RqWX6-95Ybk73KbbNPENNfqyGX4ThKAi-QRqBKLFgumXQDe9X5hOPnIIhhhf2tYjH1za_1umc0dMnjIGKZMwwovMu6-mL4efrw70ZFNHMh2hqwh05H_hf7GqDufNDeEi3JFsKtLx6GU9B9CnLb1lwVeft_JPIYEFqdSaxpaeyjxrsHKkaoIbOW0C6PEiSZ66OMC1Wtb7FreUlyUQkIdz0RLGtzfYQngPxxsvdD-sWtndrrSn69szY4XgZn6QGBruE0zxNcQRpj12Q8yM_bPBjSq1Ti2qsvCE06ki71ZouOV-MNPKlREY6Zd13daRZEkFD072Vg60ABaQV_dL3dPzUtOSWj7NjFSFG2C4U-w4Y7umooldQ8iOwIKmCEwZ0aIIlQVpJ8tB2ougKuZt-1ZgA9B5Slb_EAh5RFJiQqlfKCfpkjCiIVipZ1c4lbVUEifMwvYJvb3T73sowaTGs-jcSEgHlR8Ci5c3Vc1qGpkJ74UjfvPYlBvGjjgaCyYP_3YFZzIKywAZvCOMofVbnynflvJQ1aqbfH8Sm1_RC8XovgtohJbFShUtN3_zUGyyokm0ufLKV3KMNoDS5RhJBTKHRSlCbJ-mMAqd-eye4xf1lwECz2kUmlMnnoqkQs4_3KZwrEZpmuWc3i0PjLA_jBjcPq8l80V_2CTMIOvYvc3xBxc_Ls2D6EWsXeWltkKkfo-FVEIMr1h6y1fxYMWniJ2xEF-pladxWtu9kDUPtffDFgA5HlG73JxVoT8PJ2jitEkbK7j-eLej6MkO0GlYvjiplBXtidsw0-sQ.pbfUy1ief1k6I7FAEsTtVw"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 807,
            "applicants" : [ {
              "id" : 310,
              "first_name" : "Justice Walker PhD",
              "middle_name" : "k",
              "last_name" : "Ocie Kub",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : false,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 806,
            "applicants" : [ {
              "id" : 309,
              "first_name" : "Otilia Hermann",
              "middle_name" : "k",
              "last_name" : "Lorna Nitzsche",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 804,
            "applicants" : [ {
              "id" : 307,
              "first_name" : "Andy Labadie",
              "middle_name" : "k",
              "last_name" : "Bernadette Sauer",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ {
              "id" : 45,
              "first_name" : "Fabian Auer",
              "relationship_to_applicants" : [ {
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "rfa1c_forms" : [ ],
            "is_initial_application" : false
          }, {
            "id" : 802,
            "applicants" : [ {
              "id" : 308,
              "first_name" : "first",
              "middle_name" : "last",
              "last_name" : "middle",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "phones" : [ ]
            } ],
            "minor_children" : [ ],
            "other_adults" : [ ],
            "rfa1c_forms" : [ {
              "id" : 162,
              "child_identified" : false,
              "identified_children" : [ ]
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : false,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 800,
            "applicants" : [ {
              "id" : 306,
              "first_name" : "Anabel Tremblay",
              "middle_name" : "k",
              "last_name" : "Joshua Oberbrunner",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
         [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7XYuS[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/808/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjs[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7W[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Wh[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whs[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXY[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkj[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7W[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7W[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnY[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjX[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjs[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYl[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6d[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkj[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsn[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMj[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Wh[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7W[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/applicants
    body:
      encoding: UTF-8
      string: '{"email":"","date_of_birth":"","first_name":"Therese Jast","middle_name":"k","last_name":"Clement
        Cummerata","driver_license_number":"","other_names":[]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7X[...]
[...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/808/minor-children
    body:
      encoding: UTF-8
      string: '{"child_financially_supported":"true","child_adopted":"true","gender":{"id":"1","value":"Male"},"relationship_to_applicants":[{"applicant_id":null,"relationship_to_applicant":{"id":"1","value":"Child"}}]}'
    headers:
      Content-type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7XYuSnTELgmeyhoAYYCsgZH54zFc16sAWdk_c2RqWX6-95Ybk73KbbNPENNfqyGX4ThKAi-QR[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "..e9WzShNdE0TlG252.ECQDiNdm61HQVSMf-DbS_whXKeMjiuzC8Qy57__Oy73Af4O6cmFElkdd6_brQ5eNLtOXHVZmR5RxiyS8AuAL4h8lj1PA9dBe--D2PS3ENrBMQHkeakGjoSnFZ4eAJV6oToPzTeqMinD35MeuejNX-BE0-AAbRAdv3o2zOOlKAfv_6RYNrCUhMGBTvRqZUCm5Ka7xFEnEVkKS0d93yXpA0KXBm6wnqcPqeqkXYxLi1I1YMjXp-7Whsb6dkjsnYlOf7XYuSnTELgmeyhoAYYCsgZH54zFc16sAWdk_c2RqWX6-95Ybk73KbbNPENNfqyGX4ThKAi-QRqBKLFgumXQDe9X5hOPnIIhhhf2tYjH1za_1umc0dMnjIGKZMwwovMu6-mL4efrw70ZFNHMh2hqwh05H_hf7GqDufNDeEi3JF[...]
[...]
