---
http_interactions:
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAfm4FCBWlVT2iTDYC8Rk52mTqsUjc618yiFcbltoa-VlkAf_L1kdH2EHxYF5yYOezf9U_56VtVZfpdpGu_wbTiHURW-nin-VJQN-tpMr34UN3vo_axL2lpIuyDyUWXl07D07sORIJsWqzvSDdY5y45jTIzVpVjNRAX8_e9VCZYClifAqJnIoMomrAeqa-CHpSmC3Bet1UfERmUNE8FzZBTlcOyjM-JlOgxyXgllipzePzv0g9wg-9gB-zhO2Tacxfsw9i1gfW0zt8rULLXlUrSO2fNpt6moo_bLfq0QdXDEP5P83FoYVrS1Jx1yhO1Owe17jr1h0kf2cO0jMewt3QgU5d5WFmz2PKLTHGz6kGNrtrOPspiNLx9j3951jkzFFSTE9IkKivq3EgSNA6dSjccnSy4Nj55u5fWr5FXGHYxJ2fINzgC_fCQU7AOmRa3h7dFkjWXc0RcqfO5IYhTn-BY6XOomyH75vTN3ucmMWQLN7M_rIL0ZmZDKK2Dkb11S1rw8jkmtNUPUbCYra_Opt6nSz_0FKRjzzXCXhnBRWZiThQz5CxW3RFKV5vnQBcsjDbePAD7qSCdnx4so9-4q3-lGezGTaL3Sn-jyIRUB6l47S3gx4dxUf8aNCcjJavZl9lyMTdG6538zUoSvkh2q3Jd8CfrqZWM90_u8u3zCkfepLPUzaaQ6lJho28KUFgqeg5u7OqGkl-JUZh-CotoeUGQfmHlajTwmKcTH8bdJFpNUoAKJh7Ycgzm96at1FU1hJ71aq9BKpfCVRm_fZurGW5kuXrXnCvz2-9KU9MmK3X2LQjUMV27EnG085tvnj_S9cq39rbAqBfwdQ.mEmQmOJATFvxy5mr5H5EWQ"
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "items" : [ {
            "id" : 2421,
            "applicants" : [ {
              "id" : 1500,
              "first_name" : "Durward",
              "middle_name" : "k",
              "last_name" : "Turcotte",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 401,
              "first_name" : "Luciano",
              "relationship_to_applicants" : [ {
                "applicant_id" : 1500,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2418,
            "applicants" : [ {
              "id" : 1496,
              "first_name" : "alpha0",
              "middle_name" : "",
              "last_name" : "beta0",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 1497,
              "first_name" : "alpha1",
              "middle_name" : "",
              "last_name" : "beta1",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 400,
              "first_name" : "alpha2",
              "last_name" : "beta2",
              "relationship_to_applicants" : [ { } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2417,
            "applicants" : [ {
              "id" : 1495,
              "first_name" : "Dillon",
              "middle_name" : "",
              "last_name" : "Wisozk",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : "",
              "rfa1b_form" : {
                "id" : 242,
                "convicted_in_california" : true,
                "convicted_in_another_state" : true,
                "arrested_for_crime" : true,
                "resource_family_name" : "test",
                "ssn" : "123-45-6789",
                "driver_license" : "D123",
                "driver_license_state" : {
                  "value" : "Alaska",
                  "id" : "AK"
                },
                "convicted_in_california_disclosures" : [ {
                  "offense" : "test offense",
                  "offense_city" : "test offense city",
                  "when_offense_happen" : "date of offense",
                  "offense_details" : "offense details"
                } ],
                "convicted_in_another_state_disclosures" : [ {
                  "offense" : "outside test offense",
                  "offense_city" : "outside test offense city",
                  "when_offense_happen" : "outside date of offense",
                  "offense_details" : "outside offense details"
                } ],
                "arrested_for_crime_disclosures" : [ {
                  "offense" : "cohab test offense",
                  "offense_city" : "cohab test offense city",
                  "when_offense_happen" : "cohab date of offense",
                  "offense_details" : "cohab offense details"
                } ]
              }
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2415,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 1498,
              "first_name" : "Hello",
              "middle_name" : "",
              "last_name" : "Hello",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 1499,
              "first_name" : "Hell",
              "middle_name" : "",
              "last_name" : "Hello",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2414,
            "applicants" : [ {
              "id" : 1494,
              "first_name" : "Kimberley",
              "middle_name" : "k",
              "last_name" : "O'Reily",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "rfa1c_forms" : [ {
              "id" : 151,
              "child_identified" : false
            } ],
            "child_desired" : {
              "child_identified" : true,
              "child_in_home" : true,
              "preferred_ages" : [ ]
            },
            "is_initial_application" : false
          }, {
            "id" : 2413,
            "application_county" : {
              "value" : "Ventura",
              "id" : 56
            },
            "applicants" : [ {
              "id" : 1493,
              "first_name" : "James",
              "middle_name" : "",
              "last_name" : "Franco",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2411,
            "applicants" : [ {
              "id" : 1492,
              "first_name" : "Neva",
              "middle_name" : "k",
              "last_name" : "Jakubowski",
              "other_names" : [ ],
              "highest_education_level" : {
                "value" : "Some High School",
                "id" : 2
              },
              "ethnicity" : {
                "value" : "Black",
                "id" : 4
              },
              "driver_license_number" : "ABC123",
              "driver_license_state" : {
                "value" : "Alaska",
                "id" : "AK"
              },
              "email" : "test@test.com",
              "employment" : {
                "employer_name" : "Employer Name",
                "occupation" : "Front End Developer",
                "income" : 10,
                "income_type" : {
                  "value" : "yearly",
                  "id" : 1
                },
                "physical_address" : {
                  "street_address" : "2870 Gateway",
                  "city" : "Sacremento",
                  "zip" : "94403"
                }
              },
              "phones" : [ {
                "phone_type" : {
                  "value" : "Home",
                  "id" : 2
                },
                "number" : "2012222345",
                "preferred" : false
              } ]
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2410,
            "applicants_relationship" : {
              "relationship_type" : {
                "value" : "Married",
                "id" : 1
              },
              "place_of_relationship_city" : "",
              "place_of_relationship_state" : {
                "value" : "Alaska",
                "id" : "AK"
              }
            },
            "applicants" : [ {
              "id" : 1490,
              "first_name" : "Lavonne",
              "middle_name" : "",
              "last_name" : "Muller",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            }, {
              "id" : 1491,
              "first_name" : "Rodger",
              "middle_name" : "",
              "last_name" : "Lubowitz",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2409,
            "applicants_history" : {
              "former_spouses" : [ {
                "first_name" : "Sam",
                "middle_name" : "",
                "last_name" : "",
                "place_of_marriage_city" : "",
                "place_of_marriage_end_city" : ""
              } ],
              "adult_children" : [ {
                "first_name" : "",
                "middle_name" : "",
                "last_name" : "",
                "relationship_to_applicants" : [ { } ],
                "address" : {
                  "street_address" : "",
                  "zip" : "",
                  "city" : ""
                }
              } ]
            },
            "applicants" : [ {
              "id" : 1489,
              "first_name" : "Delta",
              "middle_name" : "k",
              "last_name" : "Carter",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2406,
            "applicants" : [ {
              "id" : 1488,
              "first_name" : "Amely",
              "middle_name" : "k",
              "last_name" : "Cassin",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "adoption_history" : {
              "foster_care_licenses_q1" : {
                "was_previously_licensed" : true,
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "applications_for_adoption_q2" : {
                "facilities" : [ "" ]
              },
              "facility_operation_licenses_q3" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "employment_in_facilities_q4" : {
                "facilities" : [ "" ]
              },
              "denial_history_q5" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              },
              "suspension_revocation_history_q6" : {
                "agencies" : [ {
                  "name" : "",
                  "type" : { }
                } ]
              }
            },
            "is_initial_application" : false
          }, {
            "id" : 2405,
            "applicants" : [ {
              "id" : 1487,
              "first_name" : "Josue",
              "middle_name" : "k",
              "last_name" : "Feil",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "minor_children" : [ {
              "id" : 245,
              "relationship_to_applicants" : [ {
                "applicant_id" : 1487,
                "relationship_to_applicant" : {
                  "value" : "Child",
                  "id" : 1
                }
              } ],
              "gender" : {
                "value" : "Male",
                "id" : 1
              },
              "child_financially_supported" : true,
              "child_adopted" : true
            } ],
            "is_initial_application" : false
          }, {
            "id" : 2403,
            "applicants" : [ {
              "id" : 1486,
              "first_name" : "Alvina",
              "middle_name" : "k",
              "last_name" : "Marks",
              "other_names" : [ ],
              "driver_license_number" : "",
              "email" : ""
            } ],
            "other_adults" : [ {
              "id" : 399,
              "first_name" : "Cloyd",
   [...]
- request:
    method: post
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAfm4FCBWlVT[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-packet/2422/summary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHas[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422?expanded=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/rfa-1c-forms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/residence-ownership-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/ethnicity-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdI[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/address-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/applicant-relationship-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMD[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/license-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/relationship-to-applicant-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHas[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-suffix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/name-prefix-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/phone-number-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/genders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAfm[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/education-level-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasA[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/states
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAfm4[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/income-types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpH[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/marriage-termination-reasons
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMD[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/age-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHas[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/sibling-groups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/dictionaries/counties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAf[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIbpHasAfm4FC[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/applicants
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdI[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/residence
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdIb[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/applicants-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbil[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/minor-children
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTd[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/other-adults
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpz[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/adoption-history
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvx[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/applicants-relationship
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMD[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/child-desired
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdp[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/references
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Authorization:
      - ".._vLFQcIz9_nE_JJ-.OWfKJHptYtJkTZRpLzGM9I3d-KcFJ7DWWASHtrB53CGR4V1P-flPrWflif3cMKyLrMKWBsDiI5GWeH0DHvy-O1o9JKwQo6lThRGFarOx860gQeqwQQAB0FPMohjeGcA68RRciN2SyYfH-mITGQgOJCWQVo_d6cEnIn3hKFtATER8lz_hwf6QTnjoICuWHX-gA9lBQ0_ozzMIb4V5bXScb2GYqthFxcJb_CLXdFMDIKbilvxTdpzdI[...]
- request:
    method: get
    uri: https://calsapi.preint.cwds.io/rfa-1a-forms/2422/rfa-1c-forms/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
[...]
